[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
*~
*.swp
Source/NDependOut
*.swo
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
Build/CodeQualityMetrics/SolutionParser/Output/
BuildArtifacts/
source/ABSciex.UnitTests/FoldChangeTests/Data/IntegrationTestResults.xlsx
version.txt
ThirdParty/PeakView/Plugins/CloudConnect/CloudConnect.dll
ThirdParty/PeakView/Plugins/CloudConnect/CloudConnect.pdb
Source/version.wxi
sha1.txt
TddHelper.sdf
TddHelper.opensdf
